.pagination {
    //margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__pages{
        display: block;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;     
    }
    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        color: black;
        float: left;
        width: 40px;
        height: 40px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 100%;          
        &:hover {
            background-color: rgb(204, 204, 204);
        }
    }
    &__prev, &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        color: black;
        float: left;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        border-radius: 100%; 
        background-color: inherit;         
        &:hover {
            background-color: rgb(204, 204, 204);
        }
    }
    &__activepage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        color: white;
        float: left;
        width: 40px;
        height: 40px;
        text-decoration: none;
        background-color: #0d6efd;
        cursor: pointer;
        border-radius: 100%;
        &:hover {
            opacity: 0.9;
        }
    }
    &__dots {
        margin: 0 5px;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 100%;
    }
}

.disabled {
    color: grey;
    cursor: default;
    &:hover {
        background-color: inherit;
    }
}
