.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__pages{
        display: block;
        margin: 10px;
    }
    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        color: black;
        float: left;
        width: 30px;
        height: 30px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 100%;   
        font-size: 12px;    
        &:hover {
            background-color: rgb(204, 204, 204);
        }
    }
    &__prev, &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        color: black;
        float: left;
        width: 30px;
        height: 30px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        border-radius: 100%; 
        background-color: inherit;   
        font-size: 14px;       
        &:hover {
            background-color: rgb(204, 204, 204);
        }
    }
    &__activepage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        color: white;
        float: left;
        width: 30px;
        height: 30px;
        text-decoration: none;
        background-color: #0d6efd;
        cursor: pointer;
        border-radius: 100%;
        font-size: 12px; 
        &:hover {
            opacity: 0.9;
        }
    }
    &__dots {
        margin: 0 5px;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 100%;
    }
}

.disabled {
    color: grey;
    cursor: default;
    &:hover {
        background-color: inherit;
    }
}

@media (max-width: 575px) {
    .pagination {
        margin: 10px auto;
        order: 3;
    }
}
