.reverse {
    width: 23px;
    height: 23px;
    border-radius: 5px;
    cursor: pointer;
    :hover {
        opacity: 0.5;
        transform: scale(1.1);
    }
    img {
        width: 100%;
        height: 100%;
    }
}