.reverse {
    position: absolute;
    left: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    :hover {
        opacity: 0.5;
        transform: scale(1.1);
    }
    img {
        width: 100%;
        height: 100%;
    }
}