.form {
    margin: 0 auto;
    //width: 400px;
    max-width: 382px;
    height: 342px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    &__type {
        //margin-top: 200px;
        font-size: 30px;
        color:white;
    }
    &__p {
        text-align: center;
        color: white;
    }
    &__link {
        color: rgb(74, 204, 193);
        &:hover {
            color: rgb(226, 104, 104);
        }
    }
    &__input {
        box-sizing: border-box;
        width: 369px;
        margin: 8px auto;
        border-radius: 3px;
        height: 40px;
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #555;
        outline: none;
        &:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }
    &__btn {
        margin-left: auto;
        margin-top: 5px;
        width: 80px;
        height: 30px;
        background-color: #0d6efd;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        &:hover {
            opacity: 0.9;
        }
    }
    &__google {
        display: flex;
        align-items: center;
        &-text {
            color: white;
            margin-right: 10px;
        }
        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
    &__bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .form {
        width: 300px;
        padding: 0 10px;
        &__input {
            width: 100%;
        }
    }
}