.logregpage {
    background-color: lavenderblush;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 19px;
    background: #e6e6e6;
    box-shadow:  11px 11px 22px #919191,
                 -11px -11px 22px #ffffff;
}

.modifying {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    &__numberOfWords {
        font-size: 24px;
    }
}

.error {
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}