body {
    position: relative;
}

.app {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1100px;
}

.end {
    justify-content: flex-end;
}

.error {
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}