.modification {
    //max-width: 210px;
    height: 40px;
    &__icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            opacity: 0.9;
            transform: scale(1.1);
        }
    }
}

@media (max-width: 600px) {
    .modification {
        margin-bottom: 10px;
    }
}