.searching {
    margin-top: 5px;
    width: 100%;
    &__search {
        position: relative;
    }
    &__input {
        box-sizing: border-box;
        border-radius: 3px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        border: 2px solid #ccc;
        border-radius: 20px;
        font-size: 16px;
        color: #555;
        outline: none;
        width: 100%;
        &:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        &-scope {
            position: absolute;
            width: 15px;
            height: 15px;
            left: 10px;
            top: 9px;
        }
        &-searchclear {
            position: absolute;
            width: 17px;
            height: 17px;
            top: 9px;
            line-height: 10px;
            font-size: 25px;
            right: 10px;
            cursor: pointer;
            color: #555;
        }
    }
    
}

@media (max-width: 750px) {
    .searching {
        &__search {
            box-sizing: border-box;
            width: 100%;
            &:focus {
                box-sizing: border-box;
                width: 100%;
            }
        }
        
    }
}