.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    &__text {
        color: white;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            opacity: 0.9;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__email {
        color: white;
        margin-right: 5px;
    }
    &__logout {
        margin-right: 5px;
        background-color: #0d6efd;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        &:hover {
            opacity: 0.9;
        }
    }
    &__line {
        z-index: -1;
        left: 0;
        position: absolute;
        width: 100%;
        height: 35px;
        background-color: #333;
    }
}