.wordsquiz {
    position: relative;
    &__close  {
        max-width: 20px;
        max-height: 20px;
        position: absolute;
        right: -5px;
        top: -20px;
        font-size: 35px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 350px;
    }
    &__score {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__question {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        width: 100%;
        min-height: 100px;
        border: 1px solid rgb(182, 196, 218);
        background-color: rgb(182, 196, 218);
        border-radius: 5px;
        font-size: 30px;
    }
    &__variants {
        width: 100%;
        padding: 20px 0;
        padding-bottom: 5px;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 60px;
        row-gap: 20px;
        column-gap: 20px;
    }
    &__variant {
        display: flex;
        align-items: center;
        border: 1px solid rgb(182, 196, 218);
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
        list-style-type: none;
        cursor: pointer;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
    } 
    &__btn {
        width: 100px;
        height: 30px;
        background-color: #0d6efd;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        &:hover {
            opacity: 0.9;
        }
    }
    &__success {
        width: 100%;
        font-size: 20px;
        text-align: center;
        color: #59af76;
        margin: 5px 0;
    }
    &__wrong {
        width: 100%;
        font-size: 20px;
        text-align: center;
        color: #f15550;
        margin: 5px 0;
    }
}

.activeAnswer {
    background-color: #f3e1d9;
    border: 1px solid #fe5f1e;
    transition: .2s all;
}

.rightAnswer {
    background-color: #59af76;
    color: white;
    border: inherit;
    transition: .5s all;
}

.wrongAnswer {
    background-color: #f15550;
    color: white;
    transition: .5s all;
}

.answerAnimate {
    animation: blink-animation 1s 2;
}

@keyframes blink-animation {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

@media (max-width: 500px) {
    .wordsquiz {
        &__wrapper {

            height: 350px;
        }
        &__question {
            font-size: 18px;
        }
        &__variant {
            font-size: 12px;
        }
    }
}