.table {
    position: relative;
    margin-top: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    tbody {
        cursor: pointer;
    }
    td, th {
        border: 1px solid #9999;
        padding: 2px;
        padding-left: 5px;
        width: 50%;
        font-size: 14px;
    }
    th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #708871;
        color: white;
    }
    tr:hover {
        background-color: #bbb4b4;
    }
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    &__nowords {
        position: absolute;
        top: 50px;
        left: 330px;
    }
}

.activeWord {
    background-color: palegoldenrod;
    border: 1px solid #2222 !important;
}

.emptyTable {
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
} 