.sort {
    position: relative;
    &__label {
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
            transform: rotate(180deg);
            &.rotated {
                transform: rotate(0);
            }
        }
        b {
            margin-right: 8px;
        }
        span {
            color: #fe5f1e;
            border-bottom: 1px dashed #fe5f1e;
            cursor: pointer;
        }
    }
    &__popup {
        z-index: 1;
        position: absolute;
        left: 80px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 150px;
        ul {
            overflow: hidden;
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                padding: 10px 10px;
                cursor: pointer;
                &.active,
                &:hover {
                    background: rgba(254, 95, 30, 0.05);
                }
                &.active {
                    font-weight: bold;
                    color: #fe5f1e;
                }
            }
        }
    }
  }