.message {
    width: 100%;
    z-index: 2;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    pointer-events: none;
    &__content {
        text-align: center;
        padding: 15px;
        border-radius: 12px;
        background-color: white;
        height: 100%;
    }
}

.message-enter {
    top: -20px;
    opacity: 0;
    transform: scale(0);
}

.message-enter-active {
    top: 50px;
    opacity: 1;
    transform: scale(1);
    transition: 400ms ease-in;
}

.message-exit {
    top: 50px;
    opacity: 1;
    transform: scale(1);
}

.message-exit-active {
    opacity: 0;
    top: -20px;
    transform: scale(0);
    transition: 400ms ease-in;
}